.userWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .2s ease-in;
  animation-name: user;
}

.userWrapperAnimated {
  transition: .2s ease-in;
  margin-right: auto;
}
