.userWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .2s ease-in;
  animation-name: user;

  @media (max-width: 468px) {
    display: none;
  }
}

.userWrapperAnimated {
  transition: .2s ease-in;
  margin-right: auto;
}
