.app_dark_theme {
  --bg-color: rgba(7,7,16,.7);

  --header-bg-color: rgb(8, 8, 105, 0.7);
  --header-animated-bg-color: rgb(14, 14, 100, .7);

  --footer-bg-color: rgb(8, 8, 105, 0.7);

  --form-bg-color: rgb(8, 8, 105, 0.7);
  --form-button-bg-color: #2f8af5;
  --form-button-bg-hover-color: #2ea1ff;
  --form-button-border-color: #288ee2;
  --form-shadow-color: #223c50b0;

  --inverted-bg-color: #e8e8ea;
  --primary-color: #fff;
  --secondary-color: #d9d9d9;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0452ff;

  --editor-color: #282c34;

  --scroll-thumb: #ececec;
  --scroll-thumb-track: #6d6d6d;

}

