.app_light_theme {
  --bg-color: #e8e8ea;

  --header-bg-color: #d5d5d5;
  --footer-bg-color: #d5d5d5;
  --form-bg-color: #e7d7d7;
  --form-button-bg-color: #e0a8a8;
  --form-button-border-color: #d36666;
  --form-shadow-color: #223c5033;

  
  --inverted-bg-color: #090949;
  --primary-color: #121212;
  --secondary-color: #232323;
  --inverted-primary-color: #04ff04;
  --inverted-secondary-color: #049604;
}
