.app_light_theme {
  --bg-color: #E1F2F7;

  --header-bg-color: #00ABE1 ;
  --header-animated-bg-color: #00ABE1;

  --footer-bg-color: #00ABE1;

  --form-bg-color: #00ABE1;
  --form-button-bg-color: #ffd31c;
  --form-button-bg-hover-color: #efe0a7;
  --form-button-border-color: #ffd31c;
  --form-shadow-color: #223c5033;

  --inverted-bg-color: #090949;
  --primary-color: #121212;
  --secondary-color: #232323;
  --inverted-primary-color: #04ff04;
  --inverted-secondary-color: #049604;

  --editor-color: white;

  --scroll-thumb: #6d6d6d;
  --scroll-thumb-track: white;

}


