@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap';
@import 'reset';
@import 'normalize';
@import 'layouts';
@import 'variables';
@import 'themes/light';
@import 'themes/dark';

body,
html {
  font-family: Inter, sans-serif, ui-sans-serif, system-ui, -apple-system, Arial;
  height: 100%;
  flex-direction: column;
  display: flex;
  min-height: 0;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  height: 100%;
  margin: 0;
  min-height: 0;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  min-height: 0;
  color: var(--primary-color);
  background: var(--bg-color);
  font: var(--font-m);
}

.main {
  min-height: 0;
  flex: 1;
}

section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}
