$primary-color-font: black;

$primary-color-fone: white;

$primary-color-error: red;

$primary-color-active: green;
$secondary-color-active: rgb(4, 255, 4);

$primary-color-shadow: gray;
$secondary-color-shadow: rgb(64, 64, 64);
