.logo {
  width: 200px;
  height: 100px;
  background: url('../../shared/assets/images/graphql_logo_text.svg') no-repeat;

  @media (max-width: 639px) {
    width: 0;
    // position: relative;
    // top:-25px;
    // left: -15px;
    // width: 35px;
    // height: 35px;
    // background: url('../../shared/assets/images/graphql_logo.svg') no-repeat;
  }
}
