.header {
  position: sticky;
  top: 0;
  padding: 0 20px;
  background: var(--header-bg-color);
  box-shadow: 0px 5px 5px 0px rgba(56, 56, 56, 0.55);
  
  .headerContainer {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
