.header {
  position: sticky;
  top: 0;
  padding: 0 20px;
  background: var(--header-bg-color);

  .headerContainer {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
