.graphql {
  // color: green;
  display: flex;
  height: 100%;

}

.sessions {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 100%;
  border-radius: 10px;
  background-color: red;
  flex: 1;
}

.header{
  display: flex;
  justify-content: start;
  padding: 5px;
}
