.panel {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex: 1;
  max-height: 100%;
  padding: 5px;


  .session {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    .queryEditor {
      display: flex;
      flex: 3 1 0;
      flex-direction: row;
      overflow-y: auto;
      overflow-x: auto;
      max-height: 100vh;

    }
  }

}

.result {
  height: 100%;
  display: flex;
  position: relative;
  flex: 1;
  scroll-behavior: auto;
  overflow:auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  padding: 5px;

  .resultCode{
    flex: 1 1 0%;
    border-radius: 10px;
    overflow:auto;
    height: auto;
    max-height: 600px // хз как ограничить
    // max-height: 100%
  }

}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;

  .playBtn {
    width: 20px;
    height: 20px;
  }

}
