.options {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 80px;
  gap: 10px;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 5px;
  transition: 0.2s ease-in;
}

.engFlag,
.rusFlag,
.lightMode,
.darkMode,
.logout {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.15s ease-in;
}

.engFlag {
  background: url(../../shared/assets/images/eng_flag.svg) no-repeat;
  background-size: 100% 100%;
}

.rusFlag {
  background: url(../../shared/assets/images/rus_flag.svg) no-repeat;
  background-size: 100% 100%;
}

.lightMode {
  background: url(../../shared/assets/images/icon-sun.svg) no-repeat;
  background-size: 100% 100%;
}

.darkMode {
  background: url(../../shared/assets/images/icon-moon.svg) no-repeat;
  background-size: 100% 100%;
}

.logout {
  background: url(../../shared/assets/images/logout.svg) no-repeat;
  background-size: 100% 100%;
  color: #3237d4;
}

.optionsAnimated {
  position: relative;
  animation: optionAnim 0.8s forwards;
}

@keyframes optionAnim {
  0% {
    height: 0;
    opacity: 1;
  }

  100% {
    transform: translateY(-100px);
    height: 0;
    opacity: 0;

  }
}
